@model ErrorViewModel
@{
    Layout = "_FlatLayout";
    ViewData["Title"] = "Page Not Found";
    var isLive = Model.IsLive;
}

<div class="mfi-error-container">

    <div class="mfi-error-box">
        <div class="error-page-header">
            <h1 class="display-1 error-code">@Model.StatusCode</h1>
            <h4 class="display-1 error-code-text">Page Not Found</h4>
        </div>
        <div class="error-page-message">
            @if (isLive)
            {
                <p class="error-line">Sorry, the page you're looking for doesn't exist.</p>
                <a href="/mfi/application/login" class="btn btn-primary" style="min-width:350px; height:40px">Go to Home</a>
            }
            else
            {
                <!-- Detailed error for development -->
                <div class="error-message-box ">
                    <p class="error-line"><strong>Original Path:</strong> @Model.OriginalPath</p>
                    <p class="error-line"><strong>Query String:</strong> @Model.OriginalQueryString</p>
                </div>
                <a href="/mfi/application/login" class="btn btn-primary" style="min-width:350px">Go to Home</a>

            }
        </div>
    </div>

</div>
